#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# submodules
modules/

# ssh keys
ssh_key/*

# vim
*.swp

# runtime data
certs/
crypt_curl.log
vault_sa_key.json.encrypted.base64
vault_sa_key.json.encrypted.base64.sig
